.article-add-title{
    margin-top: 172px;
}
.article-add-title-h1{
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(232, 78, 80, 0.65);
}
.article-add-form{}
.article-add-form-group{}
.article-add-form-group-label{
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(232, 78, 80, 0.65);
    margin-top: 29px;
}
.article-add-form-group-input{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
}
.article-add-form-group-input.mod-textarea{
    height: 230px;
}
.article-add-form-footer{}
.article-add-form-footer-label{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(232, 78, 80, 0.65);
    margin-top: 0px;
}
.article-add-form-footer-input{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa
}

.article-add-form-footer-label-file{
    top: 22px;
    left: 0px;
     width: 83px;
     height: 50px;
     position: absolute;
     background-image: url("/static/backend/img/photo.png");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
    display: block;
    cursor: pointer;
 }

.article-add-form-footer-input.mod-file{
    width: 83px;
    height: 50px;
    opacity: 0;
    display: block;
}
.article-add-form-footer-input-audio{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa
}
.article-add-form-footer-label-audio{
    top: 112px;
    left: 0px;
    width: 83px;
    height: 50px;
    position: absolute;
    background-image: url("/static/backend/img/audio.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

.article-add-form-footer-btns{
    text-align: right;
    padding-top: 60px;
}
.article-add-form-footer-btns-cancel{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 15px 35px;
    background: #b2b2b2;
    display: inline-block;
    border-radius: 8px;
}
.article-add-form-footer-btns-cancel:hover{
    text-decoration: none;
    color: #ffffff;
}
.article-add-form-footer-submit{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 15px 35px;
    background: #ff4a33;
    margin-left: 10px;
    display: inline-block;
    border-radius: 8px;
}
